<div class="row">
  <div class="col-sm-12 topo">
    <h4>Formulário</h4>
    <hr />
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Email"
          formControlName="email"
          required
        />
        <div *ngIf="!email.pristine && email.errors">
          <p class="form-text text-danger" *ngIf="email.errors.email">
            Digite um e-mail válido.
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
        <input
          type="password"
          class="form-control"
          formControlName="senha"
          placeholder="Senha"
          required
        />
        <div *ngIf="!senha.pristine && senha.errors">
          <p class="form-text text-danger" *ngIf="senha.errors.required">
            Senha é obrigatória.
          </p>
          <p class="form-text text-danger" *ngIf="senha.errors.minlength">
            Senha deve ter no mínimo 6 caracters.
          </p>
          <p *ngIf="senha.errors.maxlength" class="form-text text-danger">
            Senha deve ter no máximo 12 caracters.
          </p>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!profileForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
