<div class="row topo">
  <div class="col-sm-6 col-md-3 top" *ngFor="let item of filmesLista">
    <div class="card cardy" style="margin: 2px!important">
      <img class="card-img-top img-l" src="{{ url_img + item.poster_path }}" alt="{{ item.original_title }}" />
      <div class="card-body">
        <div class="card-define">
        <h5 class="card-title">{{ item.original_title }}</h5>
        <p class="card-text">
         {{ item.overview | limiterCaracter: [100] }}
        </p>
      </div>

        <button class="btn btn-primary bts" (click)="detalheFilme(template, item.id)">Detalhes</button>
       
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="corpo">
    <div class="row">
      <div class="col-sm-6">
        <img
          class="card-img-top"
          src="{{ url_img + imagem }}"
          alt=""
          style="
            width: 200px;
            height: 290px;
            padding-bottom: 18px;
            margin: 0 auto;
            display: block;
            padding-top: 10px;
          "
        />
      </div>
    
      <div class="col-sm-6">
        <p class="title"></p>
    
        <div style="display: block;">
          <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  
 

  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h6>Idioma original: {{ linguagem }}</h6>
      <p class="conteudo">{{ conteudo }}</p>
    </div>
  </div>
</div>
</div>
</ng-template>
