.topo{
    margin-top: 60px;
}
.top{
    margin-top: 20px;
}
.estilo{
    width: 18rem;
   
}
.img-l{
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
}
.bts{
    width: 98%;
    display: block;
    margin: 0 auto;
}
.cardy{
    min-width: 210px!important;
}
.card-body{
    min-height: 260px!important;
}
.card-define{
    min-height: 230px;
}
.conteudo{
    text-indent: 40px;
    font-size: 14px;
}
.corpo{
    border-top: 1px solid #ccc;
}